html {
	height: 100%;
	background: 
		linear-gradient(rgba(37, 105, 10, 0.6), rgba(0, 0, 0, 0.884));
}
/*form styles*/
#msform {
	width: 400px;
	margin: 90px auto;
	text-align: center;
	position: relative;
	transform: translate(-15px, 15px); /* Déplacer le formulaire */
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .actionButton {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.contain{
	padding-top: 50px;
	padding-bottom: 60px ;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	transform: translate(-15px, 15px); /* Déplacer la barre de progression */
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}  
.info {
	margin-top: 30px;
	margin-bottom: 30px;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
.step {
	margin-top: 25px;
}
/* Styles spécifiques pour les téléphones */
@media screen and (max-width: 480px) {
	#msform {
	  width: 50%; /* Ajuster la largeur du formulaire */
	  margin: auto; /* Réduire la marge pour un espacement plus compact */
	  transform: translate(-15px, 15px); /* Déplacer le formulaire */
	}
  
	#msform fieldset {
	  width: 100%; /* Utiliser toute la largeur disponible */
	  padding: 15px; /* Réduire l'espace intérieur */
	}
  
	#msform input,
	#msform textarea {
	  padding: 12px; /* Réduire la taille du padding pour les entrées */
	  font-size: 12px; /* Réduire la taille de la police */
	}
  
	#msform .actionButton {
	  width: 80px; /* Réduire la largeur des boutons */
	  font-size: 12px; /* Réduire la taille de la police des boutons */
	}
  
	.fs-title {
	  font-size: 14px; /* Réduire la taille des titres de section */
	}
  
	.fs-subtitle {
	  font-size: 11px; /* Réduire la taille des sous-titres */
	}
  
	#progressbar {
	  margin-bottom: 20px; /* Ajuster l'espacement entre la barre de progression et le contenu */
	  transform: translate(20px, 15px); /* Déplacer la barre de progression */
	}
  
	#progressbar li:before {
	  width: 15px; /* Réduire la taille du marqueur de progression */
	  line-height: 15px;
	  font-size: 8px; /* Réduire la taille de la police du marqueur */
	}
  
	.step {
	  margin-top: 20px; /* Ajuster l'espacement entre les étapes */
	}
}
