.title-container {
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.title {
    
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white; /* Default color */
    margin: 0; /* Ensure no additional margin */
    margin-top: 10px;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}
